<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifpr.tccdaalana">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ImagemActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>

        <activity android:name=".CadastroRespActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".CadastroDpActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".PerfilPaiActivity"/>
        <activity android:name=".PerfilFilhoActivity" />
        <activity android:name=".AdicionarBotaoActivity" />
        <activity android:name=".EditarBotaoActivity"/>
        <activity android:name=".RelatorioActivity"/>
        <activity android:name=".CasaActivity"/>
        <activity android:name=".ComidaActivity"
            android:theme="@style/Theme.AppCompat.CompactMenu"/>
        <activity android:name=".CorpoActivity"/>
        <activity android:name=".ComunicaçãoActivity"/>
        <activity android:name=".DorActivity"/>
        <activity android:name=".DiversaoActivity"/>
        <activity android:name=".EscolaActivity"/>
        <activity android:name=".FamiliaActivity"/>
        <activity android:name=".LetrasActivity"/>
        <activity android:name=".ManualUsoActivity"/>
        <activity android:name=".NecessidadeActivity"/>
        <activity android:name=".NumerosActivity"/>
        <activity android:name=".PalavrasBasicasActivity"/>
        <activity android:name=".RoupasActivity"/>
        <activity android:name=".SentidosActivity"/>
        <activity android:name=".SentimentoActivity"/>
        </application>
    </manifest>
